# Node modules
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
lib/vendor

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables file
.env

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/

# MongoDB data directory
data/
